{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="col-8">
            <img src="{{ receipe.image }}" class="img-fluid pb-3" alt="Responsive image" width="300" height="300">
            <br/>
            <b>Ingredients : </b>
            <br/>
            <ul class="list-group list-group-flush">
                    {% for item in receipe.ingredients %}
                    <li class="list-group-item"><i>{{item}}</i></li>
                    {% endfor %}
            </ul>
            <b>How To Prepare : </b><br/>
            <div class="text-justify pt-2 pb-3" style="text-indent: 50px;">{{ receipe.preparation }}</div>
    </div>
    <div class="col-4">
        <div class="text-right pb-3"><h3><b>{{ receipe.name }}</b></h3></div>
        <div class = "d-flex flex-row-reverse">
        {% for x in numbers %}
        {% if x > 0 %}
        <img src="{% static 'star.png' %}"  class="d-inline-block align-top mr-3" alt="Responsive image" width ="20" height="20">
        {% else %}
        <img src="{% static 'favourite.png' %}"  class="d-inline-block align-top mr-3" alt="Responsive image" width ="20" height="20">
        {% endif %}
        {% endfor %}
        <span class="badge badge-pill badge-danger mr-3 pr-3 pl-3">4</span>
        </div>
        <br/>
        <b>Description : </b>
        <br/>
        <div class="text-justify" style="text-indent: 50px;">{{ receipe.description }}</div>
        <br/>

        <div class="d-flex justify-content-center">
            <img src="{% static 'preparation.png' %}" class="img-fluid mr-3" alt="Responsive image" height="50"/>
            <span class="badge badge-pill badge-dark pt-4" style="height: 4.5rem;width: 4.5rem; font-size: 1rem;">{{receipe.top}} min</span>
        </div>
        <div class = "d-flex justify-content-center pt-5">
            {% if receipe.favourite %}
            <img src="{% static 'heart.png' %}"  class="d-inline-block  mr-3 mt-1" alt="Responsive image" width ="10" height="10">
            {% else %}
            <img src="{% static 'dislike.png' %}"  class="d-inline-block  mr-3 mt-1" alt="Responsive image" width ="20" height="20">
            {% endif %}
            <b>Favourite This Receipe </b>
        </div>
    </div> 
</div>
{% endblock %}